h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1b1212;
  cursor: default;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/*Header*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("images/header-japan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #ffff;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 85px;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  margin: 30px 0;
}

header h2 {
  font-size: 45px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  border: 1px solid #ffff;
  color: #000;
  text-decoration: none;
  background-color: #ffff;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  transition: all 200ms ease-in-out;
}

header a:hover {
  opacity: 0.6;
}

/*Main*/
/*Primary Section */
.primary-section {
  background-color: #ffff;
  padding: 50px;
}

.primary-section h3 {
  font-size: 30px;
  margin: 0;
}

.primary-section p {
  font-size: 18px;
  opacity: 0.6;
}

.primary-section .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.main-japan-image {
  width: 100%;
  height: auto;
  filter: brightness(1.25);
}

/*Secondary Section */
.secondary-section {
  background-color: #f8f8f8;
  padding: 50px;
}

.secondary-section h2 {
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
  margin-top: 0px;
}

.secondary-section .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.card {
  background-color: #ffff;
  padding: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: 25px;
}

.card p {
  font-size: 16px;
  opacity: 0.6;
}

.card h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card ul {
  list-style: circle;
  font-size: 16px;
  opacity: 0.6;
  padding-left: 20px;
}

/*Tertiary Section*/
.tertiary-section {
  background-color: #ffff;
  padding: 50px;
}

.tertiary-section h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
}

.tertiary-section .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
}

/*Footer*/
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url("images/footer-japan.jpg");
  color: #ffff;
  max-width: 1300px;
  margin: 0 auto;
  padding: 25px;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
}

footer p {
  opacity: 0.6;
  font-size: 16px;
}

footer a {
  color: #ffff;
  text-decoration: none;
  opacity: 0.6;
  transition: all 200ms ease-in-out;
}

footer a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer ul {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
}

footer li {
  line-height: 1.5;
}

.footnote {
  opacity: 0.8;
}

/*Responsive*/
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 50px;
  }

  header h2 {
    font-size: 30px;
  }

  .primary-section .grid {
    grid-template-columns: 1fr;
  }

  .primary-section {
    padding: 35px;
  }

  .secondary-section {
    padding: 35px;
  }

  .secondary-section .grid {
    grid-template-columns: 1fr;
  }

  .secondary-section h4 {
    font-size: 20px;
  }

  .secondary-section p {
    font-size: 18px;
  }

  .secondary-section ul {
    font-size: 18px;
  }

  .tertiary-section {
    padding: 35px;
  }

  .tertiary-section .grid {
    grid-template-columns: 1fr;
  }

  footer .grid {
    grid-template-columns: 1fr;
  }
}
