h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #c55353;
  cursor: default;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/*Header*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("images/header-japan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #ffff;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 85px;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  margin: 30px 0;
}

header h2 {
  font-size: 45px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  border: 1px solid #ffff;
  color: #000;
  text-decoration: none;
  background-color: #ffff;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

/*Main*/
/*Primary Section */
.primary-section {
  background-color: #ffff;
  padding: 25px 15px;
}

.primary-section h3 {
  font-size: 30px;
  margin: 0;
}

.primary-section p {
  font-size: 18px;
}

main .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.main-japan-image {
  width: 100%;
  height: auto;
}

/*Secondary Section */
.secondary-section {
  background-color: #f8f8f8;
  padding: 25px 15px;
}

.secondary-section h2 {
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
  margin-top: 10px;
}

.secondary-section .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: #ffff;
  padding: 10px;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: 25px;
}

.card p {
  font-size: 16px;
}

.card h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card ul {
  list-style: circle;
  margin-left: 15px;
  opacity: 0.6;
}

/*Tertiary Section*/
.tertiary-section {
  background-color: #ffff;
  padding: 25px 15px;
}

.tertiary-section h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

.tertiary-section .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
}

/*Footer*/
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url("images/footer-japan.jpg");
  color: #ffff;
  max-width: 1300px;
  margin: 0 auto;
  padding: 25px 15px;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
}

section p {
  opacity: 0.6;
  font-size: 16px;
}

section a {
  color: #ffff;
  text-decoration: none;
  opacity: 0.6;
}

section ul {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
}

/*Responsive*/
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 50px;
  }

  header h3 {
    font-size: 25px;
  }

  main .grid {
    grid-template-columns: 1fr;
  }

  .secondary-section .grid {
    grid-template-columns: 1fr;
  }

  .tertiary-section .grid {
    grid-template-columns: 1fr;
  }
}
